# Tuples

In [43]:
fruits = ("apple", "banana", "cherry", "mango", "orange")
type(fruits)

tuple

# Indexing in Tuples

In [44]:
fruits = ("apple", "banana", "cherry", "mango", "orange")

In [45]:
fruits[0]

'apple'

In [46]:
fruits[4]

'orange'

In [47]:
fruits[5]

IndexError: tuple index out of range

In [48]:
fruits[-1]

'orange'

In [49]:
fruits[-2]

'mango'

# Slicing in Tuples

### Format of Slicing tuple[startIndex : endIndex : hops]

In [50]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [51]:
t[0:3]

(1, 2, 3)

In [52]:
t[1:4]

(2, 3, 4)

In [55]:
t[0:10:1]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [56]:
t[0:10:2]

(1, 3, 5, 7, 9)

In [57]:
t[0:10:3]

(1, 4, 7, 10)

# Tuples are Immutable

In [58]:
fruits = ("apple", "banana", "cherry", "mango", "orange")

In [59]:
fruits[0] = 'Peach'

TypeError: 'tuple' object does not support item assignment

# Tuples are Heterogeneous

In [60]:
t = (1,2,'Apple',6,'Banana',22.99)
t

(1, 2, 'Apple', 6, 'Banana', 22.99)

# Tuples allow duplicates

In [61]:
t = ("Apple",22,"Banana",22,22,22,"Apple")
t

('Apple', 22, 'Banana', 22, 22, 22, 'Apple')

# Check element in Tuples

In [62]:
t = ("Apple",22,"Banana",22,22,22,"Apple")

In [63]:
if 'Apple' in t:
    print('Yes')

Yes

In [64]:
if 22 in t:
    print('Yes')

Yes

In [65]:
if 'Orange' in t:
    print('Yes')

# Methods of Tuples

### count()

In [66]:
t = ("Apple",22,"Banana",22,22,22,"Apple")

In [67]:
t.count(22)

4

In [68]:
t.count("Banana")

1

In [69]:
t.count(321)

0

### index()

In [70]:
t = ("Apple",22,"Banana",22,22,22,"Apple")

In [71]:
t.index(22)

1

In [72]:
t.index("Apple")

0

In [74]:
if 12 in t:
    t.index(12)

# Iterating on Tuples

In [75]:
t = ("apple", "banana", "cherry", "apple", "cherry")

In [76]:
for i in t:
    print(i)

apple
banana
cherry
apple
cherry